* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: white;
}
.container {
  overflow: auto;
  margin-top: 6% !important;
  width: 90%;
  height: auto;
  margin: 0 auto;
  scrollbar-width: thin;
}
.selectoption {
  position: sticky;
  z-index: 1;
  left: 0;
}
.actions {
  position: sticky;
  z-index: 1;
  right: 0;
}
td.actions {
  background-color: #e1d1eb;
}

tr:hover {
  background-color: #b261e8;
  color: white;
}
tr:hover td.selectoption,
tr:hover td.actions {
  background-color: #b261e8;
  color: white;
  z-index: 20;
}
td.selectoption {
  background-color: #e1d1eb;
}
td.selectoption:hover {
  background-color: #eeeeee;
}
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: auto;
  font-family: "Libre Baskerville", serif;
  overflow-x: scroll;
  background-color: white;
  min-width: max-content;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdownbtn {
  font-size: 16px;
  border: none;
  width: 35px;
  height: 30px;
  border-radius: 20px;
}
.content {
  display: none;
  position: absolute;
  background-color: white;
  right: 0;
  width: 200px;
  z-index: 1;
  border-radius: 2px;
  text-align: left;
}
.content button {
  padding: 8px;
  min-width: max-content;
  height: 50px;
  color: blueviolet;
  border: none;
  border-bottom: 1px solid rgb(188, 184, 184);
  cursor: pointer;
  background-color: white;
}
.dropdown:hover .content {
  display: block;
  right: 0px;
  top: 30px;
}
tbody tr:nth-last-child(-n + 3) .content {
  margin-right: 10px;
  margin-top: -180px;
}
.content button:hover {
  background-color: blueviolet;
  color: white;
}
span {
  padding-right: 85px;
  font-size: 15px;
}
th {
  padding: 12px;
  font-size: 15px;
  color: white;
  background-color: blueviolet;
  text-transform: capitalize;
}
.tooltip {
  max-width: 250px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

td {
  padding: 2px;
  font-size: 15px;
}
#check {
  width: 20px;
  height: 50px;
  color: blueviolet;
}
#button {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid blueviolet;
  padding: 10px;
  color: blueviolet;
  text-transform: capitalize;
}
#button:hover {
  background-color: blueviolet;
  color: white;
}
input[type="checkbox"] {
  accent-color: blueviolet;
}
